<% if @trip.photo? then %>
  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path @trip.photo, height: 800, crop: :fit %>')">
<% else %>
  <div class="banner_noimage" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path 'trip_large', height: 600, crop: :fit %>')">
<% end %>
</div>
