.body {
  color: #443E3A !important;
  font-family: 'Merriweather', serif;

  h1 {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
  }

  h2 {
  font-size: 22px;
  font-weight: bold;
  margin: 0;
  }

  h4 {
  font-size: 18px;
  margin: 0;
  }

  h5 {
  font-size: 16px;
  margin: 0;
  }

  p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
  }
}
