<h1><%= @booking.trip.name %></h1>
<h3>A sua viagem para <%= @booking.trip.place %> está confirmada.</h3>
<p>Entre em contato através do e-mail <%= @booking.user.email %> para alinhar os detalhes.</p>
<h2>Boa viagem!</h2>
