.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  // background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url("intervales.jpg");
  height: 100px;
  h2, h4{
    color: #F5E1DA;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  max-width: 100%;
  height: auto;
  }
}

.banner-img-vertical-card {
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;
  padding: 0 0;
  width: 100%;
  height: 200px;
}
.banner_img {
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;
  padding: 0 0;
  width: 400px;
  height: 200px;
}
.banner_noimage {
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: top;
  padding: 150px 0;
  height: 100px;
}

.banner p {
  font-size: 20px;
  color: #F5E1DA;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

#trip-banner {
  background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url("intervales.jpg");
}
