.btn-banner-orange {
  text-decoration: none;
  color: #F5E1DA;
  background-color: #FF8944;
  border-color: #FF8944;
  display: inline-block;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 5px;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn-banner-orange:hover {
  text-decoration: none;
  cursor: pointer !important;
  color: #F5E1DA;
  border-color: #FF7526;
  background-color: #FF7526;
  border: 1px solid;
}


.btn-banner-green {
  text-decoration: none;
  color: #F5E1DA;
  background-color: #42A698;
  border-color: #42A698;
  display: inline-block;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 5px;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn-banner-green:hover {
  text-decoration: none;
  cursor: pointer !important;
  color: #F5E1DA;
  border-color: #3A9185;
  background-color: #3A9185;
  border: 1px solid;
}

.btn-banner-color-light {
  text-decoration: none;
  border-color: #F5E1DA;
  color: #F5E1DA;
  display: inline-block;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 2px;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn-banner-color-light:hover {
  text-decoration: none;
  cursor: pointer !important;
  color: #212529;
  background-color: #F5E1DA;
  border-color: #F5E1DA;
}
