.carousel-item {
height: 500px;
overflow: hidden;
width: 100%;
}

.carousel-item img {
width: 100%;
background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8));
}

.carousel-caption {

  top: 70%;
  transform: translateY(-50%);
  color: #F3E2DB;
  text-shadow: 0px 8px 6px black;

}
