.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 28px;
  padding: 16px;
  margin-top: 20px;
  i{
   font-size: 28px;
  }
}

@media(max-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

@media(max-width: 768px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

.card-trip-horizontal {
  display: flex;
  align-items: center;
  height: 184px;
}

.card-trip {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.card-trip-horizontal img {
  height: 100%;
  width: 224px;
  object-fit: cover;
}

.card-trip-vertical img {
  height: 160px;
  width: 100%;
  object-fit: cover;
}

.card-trip h2 {
  font-size: 22px;
  font-weight: bold;
  margin: 0;
}

.color-dark-gray {
  color: #443E3A !important;
}

.color-dark-gray:hover {
  color: #42A698 !important;
}

.card-trip h4 {
  font-size: 18px;
  margin: 0;
}
.card-trip h5 {
  font-size: 16px;
  margin: 0;
}

.card-trip p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-trip-horizontal .card-trip-infos {
  width: 100%;
}

.card-trip-vertical .card-trip-infos {
  height: 180px;
}

.card-top-details {
  height: 100px;
  padding: 16px;
}

.card-bottom-details {
  height: 80px;
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-category {
  background-size: cover;
  background-position: center;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

#booking-card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 16px;
  padding: 16px;
}

#aligned-name-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
