/* Style the search box inside the navigation bar */
.search {
  float: right;
  padding: 6px;
  border: none;
  border-radius: 10px;
  margin-top: 2px;
  margin-right: 30px;
  font-size: 14px;
}

.navbar-uikend {
  justify-content: space-between;
  background: #41A698;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
}

@media (min-width: 576px) {
  .navbar-expand-sm {
    flex-flow: row nowrap;
    justify-content: flex-start;
  }
}

.navbar-uikend .navbar-collapse {
  flex-grow: 0;
}

.navbar-uikend .navbar-brand img {
  width: 40px;
}

h2{
font-family: 'Merriweather', serif;
}

.navbar-uikend ul{
  cursor: pointer;
}

.navbar-uikend .nav-uikend-links {
  color: #F5E1DA;
}

.navbar-uikend ul a:hover{
  color: #CEBDB7 !important;
}

.logo-text {
  flex-grow: 1;
}
.logo-text img {
  height: 40px;
}

.nav-right-items {
  display: flex;
    img {
    height: 40px;
  }
}

.navbar-uikend .nav-uikend-links {
  a {
    color: #F5E1DA;
    font-weight: bold;
    text-decoration: none;
    background-color: transparent;
  }
}

.navbar-uikend .nav-uikend-dropdown {
  a {
    color: #443E3A;
    font-weight: bold;
    text-decoration: none;
    background-color: transparent;
  }
}

.nav-links {
  display: block;
  padding: 0.5rem 1rem;
}
