.navbar-lewagon {
  justify-content: space-between;
  background: #41A698;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

h2{
font-family: 'Merriweather', serif;
}

.logo_principal img {
  height: 50px;
}
